
.trica-cell {
  background-color: #0f3460;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.trica-cell:hover {
  background-color: #e94560;
  transform: scale(1.05);
}

.trica-cell img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  pointer-events: none;
}